/* Created by: Atri Sarker
* Created on: April 2024
* This file contains the CSS for index.html
*/

body {
  background: linear-gradient(to bottom, #e6ffe5, #fee1e1);
}

input {
  background-color: hsl(88, 100%, 12%);
  color: #ffffff;
  border: 4px solid #665700;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}

#resultHolder {
  background-color: rgb(254, 215, 249);
  color: hsl(90, 100%, 30%);
  border: 1px solid #656565;
  padding-top: 4px;
  padding-bottom: 16px;
  padding-left: 10px;
  margin: 4px;
  border-radius: 5px;
  font-family: 'OCR A Std', monospace;
}

#backgroundImg {
  background-image: url("../images/orangeWaves.jpg");
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  filter: blur(8px);
}

.bottom-logo {
  padding: 10px;
  width: clamp(32px, 30%, 256px);
  height: auto;
}